body{
  align-content: center;
  justify-content: center;
  display: grid;
  margin: auto;
  grid-template-columns:150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  position: relative;
  background-image: url(https://i.pinimg.com/736x/2b/22/55/2b2255c6900562efa0cbad9a92cb31d7.jpg);
  top:55px;

}
div{
  border: 1px solid white;
  background: #2A292C;
  border-radius: 8px;
}
button{
  height: 150px;
  width: 150px;
  border: 1px solid white;
  background: #2A292C;
  border-radius: 8px;
}
